include *.txt
include *.md
include *.cfg
include *.pkl
recursive-include ./bfex_scraper/*

include bfex_scraper/data/*
include bfex_scraper/models/*
include bfex_scraper/sql/*
include bfex_scraper/src/*

include bfex_scraper/VERSION

include ./requirements.txt
exclude *.log

recursive-exclude * __pycache__
recursive-exclude * *.py[co]